

#div3>img{
	width: 100%;
}

#div3>div{
	display: flex;
	height: 100px;
	background: url(../唯品会VIP特卖会：品牌特卖- 唯品会_files/15557455509774.jpg);
	background-size:100% ;
	align-items: center;
	justify-content: space-around;
}

#div3>div>img{
	width: 20%;
	margin-top: 70px;
	margin-left: 3%;
}
